<h1>Talk Your S#^t</h1>

<div class="row container-fluid">
    <div class="col-lg-3">
        <h1>One</h1>
    </div>
    <div class="col-lg-3">
        <h1>Two</h1>
    </div>
    <div class="col-lg-3">
        <h1>Three</h1>
    </div>
</div>

<button type="button" name="button">
    <%= link_to "welcome", 'posts#index' %>
</button>
