<div class="page_wrapper">
    <div class="profile_image">
        <%# <%= image_tag "profile.jpeg" %> %>
    </div>

    <div id="content">
        <h1>Username</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis viverra risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed tincidunt ut neque eu porta. Nam ultricies nisl sit amet neque ornare, sed porta mauris molestie. Nam id mi consectetur, mattis eros pulvinar, luctus turpis. Quisque vitae neque eget nunc hendrerit cursus. Etiam congue diam semper, viverra ante ac, posuere orci. Duis fringilla efficitur leo, nec aliquet nisi. Nunc viverra quis odio pulvinar semper. Sed a lacus tempus, semper est sit amet, ornare elit. Duis eleifend finibus lectus, consequat condimentum mi venenatis ac. Fusce rutrum hendrerit ex, sed accumsan arcu feugiat et. Aliquam eu mi non enim tincidunt egestas consectetur eget leo.
        </p>
    </div>
</div>
