<h1>Post Up Index</h1>

<div class="#">
    <div class="post_wrapper">
        <% @posts.each do |post|%>
            <h2 class="title"><%= post.title %></h2>
            <p class="body"><%= post.body %></p>
        <% end %>
    </div>
</div>

<button type="button" name="button">
    <%= link_to "Create Take", new_post_path %>
</button>
